name: Go CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests
        run: go test -v ./...

      - name: Build app
        run: go build -v ./...

      - name: Upload binary to S3
        uses: aws-actions/s3-sync@v1
        with:
          source: "math-server"                # Replace with your binary name
          destination: "s3://GitHubActionsLab"  # Replace with your S3 bucket name
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-north-1a              # Replace with your region

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create private key file
        run: echo "${{ secrets.EC2_PRIVATE_KEY }}" > private_key.pem

      - name: Set permissions for private key
        run: chmod 600 private_key.pem

      - name: Deploy to EC2
        run: |
          scp -i private_key.pem math-server ec2-user@<EC2-PUBLIC-IP>:/home/ec2-user/
          ssh -i private_key.pem ec2-user@<EC2-PUBLIC-IP> "chmod +x math-server && ./math-server"
